#profile {
    border: solid 1px grey;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#titlebar {
    width: 100%;
    color: white;
    margin-top: 20px;
    background-color: var(--theme-1);
}

h2 {
    text-align: center;
    margin: auto;
}